@media screen and (max-width: 1480px) {
  /* menu */
  .menu__container {
    width: 40%;
  }

  .section .skills__left,
  .section .works__left,
  .section .contact__left {
    padding: 6rem 2rem;
  }

  .skills__left .skill__title {
    font-size: 50px;
  }

  .skill__container {
    padding: 0;
  }

  /* WORK */
  .work__title {
    font-size: 50px;
  }

  .work-items .work-item {
    width: 50%;
  }

  .works__right {
    padding: 0;
  }

  /* contact */
  .contact__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 1100px) {
  /* menu */
  .menu__container {
    width: 60%;
  }

  .skills,
  .works,
  .contacts {
    flex-direction: column;
  }

  .section .skills__left {
    width: 100%;
    height: 40%;
    text-align: center;
    padding: 1rem;
  }

  .section .skills__right {
    width: 100%;
    height: 60%;
    padding: 0;
  }

  .skill__container {
    width: 100%;
    padding: 0;
  }

  .skill-item {
    background: none;
  }

  .skill__name {
    margin-top: 10px;
  }

  .sub-list,
  .skill__name {
    font-size: 1rem;
  }

  /* work */
  .section .works__left {
    width: 100%;
    height: 40%;
    text-align: center;
    padding: 4rem 0;
  }

  .section .works__right {
    width: 100%;
    height: 60%;
    padding: 5rem 0;
  }

  .p-hide {
    display: none;
  }

  /* contact */

  .section .contact__left {
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 1rem;
  }

  .section .contact__right {
    width: 100%;
    height: 50%;
    padding: 0;
  }
}

@media screen and (max-width: 950px) {
  /* profile */
  .about {
    width: 85%;
    padding: 1rem;
  }

  .user__p {
    text-align: left;
  }

  .about .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .profile {
    width: 131px;
  }

  .profile > img {
    width: 100%;
  }

  /* menu */
  .menu__container {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .header {
    padding: 20px;
  }

  .about {
    width: 95%;
  }

  .header .user i,
  .menu .fa-bars {
    font-size: 40px;
  }

  /* menu */
  .menu__container {
    width: 100%;
  }

  /* skill */
  .skill__container {
    grid-template-columns: 3fr 7fr;
  }

  /* work */
  .work-items .work-item {
    width: 100%;
  }

  /* contact */
  .contact__lists {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  /* current */
  .skills__left .skill__title,
  .work__title,
  .contact__title {
    font-size: 36px;
  }

  .skill__sub,
  .work__sub,
  .contact__sub {
    font-size: 16px;
  }

  .skill__p,
  .work__p,
  .contact__p {
    font-size: 13px;
  }

  /* home */
  .home__avartar {
    width: 25%;
  }

  .home__section .home__title {
    font-size: 22px;
    margin-top: 10px;
  }

  /* profile */
  .profile {
    display: none;
  }

  .about .fa-times,
  .menu .fa-times {
    font-size: 30px;
  }

  .user__p {
    font-size: 0.9rem;
  }

  /* header */
  .header .user i,
  .menu .fa-bars {
    font-size: 30px;
  }

  /* menu */
  .menu__container {
    padding: 5rem 4rem;
  }

  .menu__container .menu_item {
    font-size: 2rem;
  }

  /* skill */
  .skill__container {
    border: 1px solid;
  }

  .skill-item:nth-child(odd),
  .skill-item:nth-child(even) {
    grid-column: 1/3;
  }

  .skill-item:nth-child(even) {
    background: rgba(0, 0, 0, 0.3);
  }

  .sub-list,
  .skill__name {
    font-size: 16px;
  }

  /* work */
  .work-btns ul {
    display: block;
  }

  .section .works__right {
    padding: 1rem 0;
  }

  .work-btns .work-btn {
    font-size: 16px;
  }

  .work-itembox {
    flex-direction: column;
    padding-bottom: 10px;
  }

  .project__description {
    position: static;
    transform: none;
    opacity: 1;
    display: block;
  }

  .work-item:hover .overlay {
    opacity: 0;
  }

  .project__title,
  .project__p {
    color: #20353f;
  }

  .project__link {
    justify-content: space-around;
  }

  /* contact */
  .contact__lists {
    width: 100%;
  }

  .contact__ul {
    justify-content: space-around;
  }

  .contact__ul li {
    margin-right: 0px;
  }
}
