/* reset */
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  /* color */
  --color-main: #0657a2;
  --color-font: #fdfdfd;
  --color-sub: #0078d7;
}

body {
  background: #0657a2;
  padding-top: 93px;
}

/* header style */
.header {
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* main container and scroll animation */
.main_section {
  position: relative;
}

.scroll-downs {
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  margin: 0 auto;
  width: 34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 7px 12px;
  height: 35px;
  border-radius: 25px;
  border: 2px solid #fdfdfd;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 8px;
  border-radius: 25%;
  background-color: #fdfdfd;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes downup {
  0% {
    opacity: 0;
    transform: translateY(0, 100px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes bounce {
  from,
  to {
    margin-bottom: 0;
    animation-timing-function: ease-out;
  }

  50% {
    margin-bottom: 8px;
    animation-timing-function: ease-in;
  }
}
